<section id="header" class="ui middle aligned grid">
   <div class="ui text container">
      <div class="ui grid">
         <h1 class="ui header">
            Welcome to Medium Scrapper,
         </h1>
         <div class="ui row">
            <h3 class="ui twelve wide column">
               Here you'll can look for a any articles from any category you like to search for on Medium.
            </h3>
         </div>
      </div>
      <div class="ui grid">
         <form id="search_query" action="/scrap" method="POST" class="ui form column">
            <div class="three fields">
               <div class="ten wide field">
                  <label for="category">Category: </label>
                  <div class="ui selection dropdown">
                     <input id="category" type="hidden" name="topic" value="Technology" />
                     <i class="dropdown icon"></i>
                     <div class="default text">Technology</div>
                     <div class="menu">
                        <div class="item" data-value="Technology" default>Technology</div>
                        <div class="item" data-value="Culture">Culture</div>
                        <div class="item" data-value="Entrepreneurship">Entrepreneurship</div>
                        <div class="item" data-value="Creativity">Creativity</div>
                        <div class="item" data-value="Self">Self</div>
                        <div class="item" data-value="Politics">Politics</div>
                        <div class="item" data-value="Media">Media</div>
                        <div class="item" data-value="Productivity">Productivity</div>
                        <div class="item" data-value="Design">Design</div>
                        <div class="item" data-value="Popular">Popular</div>
                     </div>
                  </div>
               </div>
               <div class="field">
                  <label for="limit">Search Limit: </label>
                  <div class="ui selection dropdown">
                     <input id="limit" type="hidden" name="limit" value="4" />
                     <i class="dropdown icon"></i>
                     <div class="default text">4</div>
                     <div class="menu">
                        <div class="item" data-limit="5">4</div>
                        <div class="item" data-limit="10">8</div>
                        <div class="item" data-limit="15">16</div>
                        <div class="item" data-limit="20">20</div>
                        <div class="item" data-limit="25">24</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="inline field">
               <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>I'd like to use Steroid Mode</label>
               </div>
            </div>
            <button type="submit" class="ui olive button">Start Scrapping</button>
         </form>
      </div>
   </div>
</section>
<div id="show">
   <i class="big angle down icon hidden __slide"></i>
</div>
<main id="main">
   <header id="nav" class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
         <div class="ui menu">
            <a href="/" class="header item">
               <h3 class="logo">Medium Scraper</h3>
            </a>
            <a href="https://github.com/71emj/Medium-Scrapper" class="item">
               <p>Github</p>
            </a>
            <a href="/saved" class="item">
               <p>View Saved</p>
            </a>
            <div class="right item">
               <div id="return" class="ui inverted tranparent left small icon input">
                  <input type="text" name="search" placeholder="Search..." />
                  <i class="search icon"></i>
               </div>
            </div>
         </div>
      </div>
   </header>
   <section id="body" class="ui container">
      <div class="ui stackable four column doubling relaxed padded grid">
         <article id="${index}" class="ui column hidden">
            <div class="ui cards">
               <div class="card">
                  <div class="content">
                     <div class="header">
                        Hello World
                     </div>
                     <div class="ui divider"></div>
                     <p class="description">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptatum quidem, vel laborum mollitia debitis officiis aut, cumque sed beatae, harum magni nihil. Corrupti error quis eligendi asperiores, cupiditate rem.</span>
                     </p>
                     <div class="ui bottom attached label">
                        ${"hello"}
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </div>
   </section>
   <footer class="ui inverted vertical middle footer segment">
      <div class="ui container">
         <div class="ui doubling inverted equal height centered grid">
            <div class="center aligned column">
               <p class="ui inverted" style="line-height: 3rem;">
                  71emj @ Github
               </p>
            </div>
         </div>
      </div>
   </footer>
</main>
<script src="./assets/javascript/main.js"></script>
<script type="text/javascript"></script>