body {
   margin: 0;
   padding: 0;
}

section#header {
   align-items: center;
   justify-content: center;
   min-height: 100%;
   margin-top: 0;
   margin-bottom: 0;
}

main#main {
   min-height: 100%;
   display: flex;
   flex-flow: column;
   background: url("../image/background.png");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

main#main.--main {
   background: url("../image/background-bks.jpeg");
   /* choose appropriate background to search result */
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

header#nav {
   position: relative;
   bottom: 0;
}

section#body {
   padding: 7rem 0 5rem;
   flex: 1;
}

#body article .card {
   height: 20rem;
   padding: .75rem 0 .75rem;
   border: 0px !important;
   box-shadow: none !important;
}

#show {
   display: flex;
   position: absolute;
   bottom: 4%;
   left: -5px;
   justify-content: center;
   width: 100%;
}

footer {
   position: relative;
   height: 5rem;
}

.ui.main.container {
   margin-top: 10rem;
}

.hidden {
   display: none !important;
}

.ui.dimmer {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: .285rem;
   box-shadow: 0 0 1px 1px darkgrey;
   box-sizing: border-box;
}

.__save,
.__slide,
.__trigger,
.__delete,
.button {
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.ui.modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.ui.modal .header>h1 {
    margin-bottom: 0;
}

.ui.modal .--content {
   min-height: 500px;
}

* {
   --webkit-transition: all 1.5s ease-out;
   -moz-transition: all 1.5s ease-out;
   -ms-transition: all 1.5s ease-out;
   -o-transition: all 1.5s ease-out;
   transition: all 1.5s ease-out;
}

@media only screen and (max-width: 767px) {
   .ui.grid>.stackable.stackable.row>.column,
   .ui.stackable.grid>.column.grid>.column,
   .ui.stackable.grid>.column.row>.column,
   .ui.stackable.grid>.column:not(.row),
   .ui.stackable.grid>.row>.column,
   .ui.stackable.grid>.row>.wide.column,
   .ui.stackable.grid>.wide.column {
      width: 100%! important;
   }

   .ui.card {
    margin: 1rem auto;
    min-width: 80%;
    height: 30rem;
   }
    
    #body article {
        margin-bottom: 1.25rem !important;
    }
}